
.text{
  display: inline-block;
  vertical-align: top;
    font-size: 20px;
    padding: 30px;
}
.titulop, .label{
  text-align: center;
}
.titulop{
  font-size: 30px;
}
.boton{
  border: solid 5px blue;
  --background: Blue;
  color: aliceblue;
  text-align: center;
  width: 30%;
  float: right;
  margin-right: 36.5%;
}
.label{
    text-align: center;
    width: 30%;
    padding-left: 30%;
    padding-right: 30px;
}
.texto{
  border: solid 3px black;
  padding-left: 30%;
    padding-right: 30px;
    width: 30%;
    display: inline-block;
    color: black;
    

}
.card-img-top{
  width: 20%;
  display: inline-block;
}
.informacion{
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  padding: 30px;
}